.title {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2px 0;
  background-image: linear-gradient(
    -225deg,
    #f34f09,
    #897dff 29%,
    #1148d7 67%,
    #fff800
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: headline_animation 4s linear infinite;
}

@keyframes headline_animation {
  100% {
    background-position-x: 600%;
    background-position-y: 0%;
  }

  0% {
    background-position-x: 0%;
    background-position-y: 50%;
  }
}
